.content {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.title {
    width: calc(100% / 3 - 1%);
    margin-right: 1%;
    background-color: rgb(165, 49, 165); 
    align-items: center;
    margin-bottom: 2%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

button {
    font-size: 18px;
    font-weight: 600;
    color: rgb(239, 239, 40);
    padding-left: 1%;
    text-align: start;
    position: relative;
}

#icon-menu1, #icon-menu2, #icon-menu3  {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 2%;
}

#title1OpenMenu, #title2OpenMenu, #title3OpenMenu {
    display: none;
}

.openMenu, .openMenu2, .openMenu3 {
    font-size: 20px;
    color: white;
    background-color: rgba(162, 18, 169, 0.405);
    position: absolute;
    margin-top: 7%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.openMenu {
    width: calc(100% / 3 - 3.2%);
}

.openMenu2 {
    width: calc(100% / 3 - 2.9%);
    margin-left: 33.2%;
}

.openMenu3 {
    width: calc(100% / 3 - 2.9%);
    margin-left: 66.8%;
}

.title-name {
    font-size: 26px;
    color: rgba(20, 227, 179, 0.982);
    font-weight: 700;
    margin-bottom: 3%;
    margin-top: 5%;
    text-align: center;
}

body {
    max-width: 1100px;
    width: 100%; 
    margin: 0 auto; 
    background-color: rgba(137, 43, 226, 0.119);
}

@media (max-width: 1000px) {
    .content {
        justify-content: center;
    }

    .title {
        width: calc(85%);
        display: flex;
        margin-bottom: 2%;
        font-size: 20px;
    }

    .openMenu, .openMenu2, .openMenu3 {
        font-size: 16px;
        width: calc(82.8%);
        background-color: rgb(194, 253, 253);
        color: rgb(93, 91, 91);
        position: static;
        margin-top: 0;
        margin-bottom: 3%;
        margin-left: 0;
    }
}